.canciones{
	background: #836953;
	height: 30px;
	width: 100%;
	overflow: hidden;
}

.fotos{
	background: #77DD77;
	height: 600px;
	width: 100%;
	border: 0;
	overflow: hidden;
	text-align: center;
	vertical-align: center;
}

#div_fotos{
	vertical-align: middle !important; 
	float:none !important;
	height: 100% !important;
	width: 100% !important;
	text-align: center !important;
}

.back, .play, .pause, .next, .stop, .reload, .reloadOff, .shuffle_off, .shuffle_on, .repeat_off, .repeat_all, .repeat_one{
	display: block;
    background: url(../img/sprite.png) no-repeat;
    height: 30px;
    width: 47px;
	float: left;
    cursor: pointer; 
    cursor: hand;
}

.reload{
	background-position: -313px 0px;
	width: 35px !important;
}

.shuffle_off{
	background-position:-349px 0px;
	width: 30px !important;
}
.shuffle_on{
	background-position:-384px 0px;
	width: 30px !important;
}

.mensaje{
	background-position: -248px 0px;
	margin-right: -30px;
	width: 32px !important;
}

.back {    
    background-position: 0px 0px;
}

.play {
	background-position: -47px 0px;
}

.pause {
	background-position: -99px 0px;
}

.stop {
	background-position: -150px 0px;
}

.next {
	background-position: -199px 0px;
}

.repeat_off{
	background-position: -414px 0px;
}

.repeat_all{
	background-position: -458px 0px;
}

.repeat_one{
	background-position: -500px 0px;
}

.reloadOff{
	background-position: -545px 0px;
	width: 35px !important;
	cursor: wait !important;
}

.noRepetir{
	text-decoration: overline line-through underline;
}

body {
	font-family: Arial, sans-serif;
	font-size: 12pt;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    /*display: none;*/
}

.hotkey{
	width: 50%;
	height: 150px;
	float: left;
}

.songList{
	width: 50%;
	height:400px;
	float: right;
	overflow-y:scroll;
	cursor: pointer;
	font: normal 15px/150% Arial, Helvetica, sans-serif; 
  	background: #fff;
  	border: 1px solid #006699; 
  	-webkit-border-radius: 3px; 
  	-moz-border-radius: 3px; 
  	border-radius: 3px;
  	margin-top: -150px;
  	overflow-x: hidden;
}

.divCancion, .divCancionAlt, .divCancionPlay { 
  color: #00557F; 
  border-left: 1px solid #E1EEF4;
  font-size: 12px;
  font-weight: normal; 
}

.divCancion:hover { 
	background: #b9c9fe;
}

.divCancionAlt{ 
  background: #E1EEf4; 
  color: #00557F; 
}
.divCancionAlt:hover { 
	background: #b9c9fe;
}

.divCancionPlay { 
  color: #FF0000;
  font: bold 15px/150% Arial, Helvetica, sans-serif; 
}
.divCancionPlay:hover { 
	background: #b9c9fe;
}
table thead{
	position: static;
}

table thead tr{
  font-family: Arial, monospace;
  font-size: 14px;
}

table thead tr th{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin: 0px;
  padding: 2px;
  background-color: #E1EEf4;
}

input.todo-search-field:-moz-placeholder {
  color: #34495e;
}
input.todo-search-field::-moz-placeholder {
  color: #34495e;
  opacity: 1;
}
input.todo-search-field:-ms-input-placeholder {
  color: #34495e;
}
input.todo-search-field::-webkit-input-placeholder {
  color: #34495e;
}
input.todo-search-field.placeholder {
  color: #34495e;
}

label{
	cursor: pointer;
}